.content {
  width: 100%;
  max-width: 984px;
  margin: 0 auto;
  padding: 0 48px;
}

@media (max-width: 1024px) {
  .content {
    padding: 0 24px;
  }
}

@media (max-width: 544px) {
  .content {
    padding: 0 16px;
  }
}
