.footer {
  text-align: center;
  max-width: 166px;
  margin: 92px auto 24px;
}

@media (max-width: 1024px) {
  .footer {
    max-width: 720px;
    padding: 0 24px;
    margin: 88px auto 24px;
    text-align: center;
  }

  .footer__copyright {
    margin: 0 auto;
    max-width: none;
    width: fit-content;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }
}

@media (max-width: 544px) {
  .footer {
    padding: 0 16px;
    max-width: 288px;
    margin: 64px auto 24px;
    text-align: center;
  }
}
