.header {
  padding-top: 34px;
}

.header__logo {
  width: 254px;
  height: 70px;
  display: block;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .header {
    padding-top: 30px;
  }

  .header__logo {
    display: block;
    margin: 0 auto;
    width: 254px;
    height: 66px;
  }
}

@media (max-width: 544px) {
  .header {
    padding-top: 20px;
  }

  .header__logo {
    width: 188px;
    height: 52px;
    margin: 0 auto;
    display: block;
  }
}
