.intro {
  max-width: 984px;
  margin: 0 auto;
}

.intro__title {
  margin: 92px 0 0;
  max-width: 830px;
  font-size: 54px;
  line-height: 58px;
  font-weight: 900;
}

.intro__text {
  margin: 40px 0 0;
  max-width: 738px;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
}

.intro__author {
  margin: 10px 0 0;
  text-align: end;
  max-width: 732px;
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
}

.intro__description {
  margin: 32px 0 0;
  max-width: 722px;
  font-size: 16px;
  line-height: 1.63;
  font-weight: 400;
}

@media (max-width: 1024px) {
  .intro {
    margin: 90px 0 0;
  }

  .intro__title {
    margin: 0;
    max-width: 707px;
    width: 100%;
    font-size: 45px;
    line-height: 49px;
    font-weight: 900;
  }

  .intro__text {
    margin: 50px 0 0;
    max-width: 720px;
    width: 100%;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
  }

  .intro__author {
    margin: 0;
    max-width: 720px;
    width: 100%;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    text-align: end;
  }

  .intro__description {
    margin: 32px 0 0;
    max-width: 720px;
    width: 100%;
    font-size: 16px;
    line-height: 1.63;
    font-weight: 400;
  }
}

@media (max-width: 544px) {
  .intro {
    margin: 64px 0 0;
  }

  .intro__title {
    margin: 0;
    max-width: 288px;
    width: 100%;
    font-size: 32px;
    line-height: 35px;
    font-weight: 900;
  }

  .intro__text {
    margin: 40px 0 0;
    max-width: 288px;
    width: 100%;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
  }

  .intro__author {
    margin: 10px 0 0;
    max-width: 288px;
    width: 100%;
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    text-align: end;
  }

  .intro__description {
    margin: 32px 0 0;
    max-width: 288px;
    width: 100%;
    font-size: 16px;
    line-height: 1.63;
    font-weight: 400;
  }
}
