.lead {
  text-align: center;
  margin-top: 90px;
}

.lead__title {
  margin: 0 auto;
  width: 720px;
  font-size: 96px;
  line-height: 100px;
  font-weight: 900;
}

.lead__subtitle {
  margin: 32px auto 0;
  width: 720px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
}

.lead__image {
  margin: 64px auto 0;
  width: 984px;
  max-width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 1024px) {
  .lead {
    text-align: center;
    margin-top: 90px;
  }

  .lead__title {
    margin: 0 auto;
    max-width: 530px;
    width: 100%;
    font-size: 75px;
    line-height: 79px;
    font-weight: 900;
  }

  .lead__subtitle {
    margin: 25px auto 0;
    max-width: 720px;
    width: 100%;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
  }

  .lead__image {
    margin: 30px 0 0;
    max-width: none;
    height: auto;
    display: block;
    position: relative;
    left: -24px;
    width: calc(100% + 48px);
  }
}

@media (max-width: 544px) {
  .lead {
    text-align: center;
    margin-top: 50px;
  }

  .lead__title {
    margin: 0 auto;
    max-width: 228px;
    width: 100%;
    font-size: 40px;
    line-height: 44px;
    font-weight: 900;
  }

  .lead__subtitle {
    margin: 16px auto 0;
    max-width: 288px;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
  }

  .lead__image {
    display: block;
    position: relative;
    left: -16px;
    width: calc(100% + 32px);
    max-width: none;
    height: auto;
    margin: 40px 0 0;
  }
}
