html,
body {
  margin: 0;
  padding: 0;
}

.page {
  font-family: "Inter", Arial, sans-serif;
  background-color: #2a2c2f;
  color: #ffffff;
  min-height: 100vh;
  display: flow-root;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
