@import url("../vendor/fonts.css");
@import url("../vendor/normalize.css");

@import url("../blocks/page.css");
@import url("../blocks/header.css");
@import url("../blocks/content.css");
@import url("../blocks/lead.css");
@import url("../blocks/intro.css");
@import url("../blocks/footer.css");

*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
